          <aside class="container" aria-labelledby="standards">
            <h2 id="standards">Related Standards</h2>

            <ul class="resources">
              <li><a href="https://w3.org/WAI/ARIA/apg/">ARIA Authoring Practices</a></li>
              <li><a href="https://www.w3.org/TR/wai-aria/">ARIA Specification</a></li>

              <li><a href="https://www.w3.org/TR/accname-1.2/">Accessible Name and Description Computation 1.2</a></li>
              <li><a href="https://www.w3.org/TR/html-aria/">ARIA in HTML</a></li>
              <li><a href="http://www.w3.org/TR/core-aam-1.2/">Core Accessibility API Mappings 1.2</a></li>
              <li><a href="https://w3c.github.io/html-aam/">HTML Accessibility API Mappings</a></li>
              <li><a href="http://www.w3.org/TR/WCAG/">WCAG Specification</a></li>
              <li><a href="https://html.spec.whatwg.org/">HTML Specification</a></li>
            </ul>

          </aside>
