          <aside class="container first" aria-labelledby="visualize">
            <h2 id="visualize">Visualize</h2>

            <div class="content">
               <p id="inst" class="inst">Visually outline the landmarks and/or headings on the page.</p>

               <div class="button ">
                <button class="btn btn-primary" type="button" onclick="showLandmarks(event)" aria-describedby="inst">Show Landmarks</button>
              </div>

               <div class="button">
                <button class="btn btn-primary" type="button" onclick="showHeadings(event)"  aria-describedby="inst">Show Headings</button>
              </div>


              <table class="table striped" class="counts" aria-label="Count of landmarks on the page">
                <thead>
                  <tr>
                    <th>Landmark</th>
                    <th class="text-center">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>complementary</code></li>
                    <td class="text-center">1</td>
                  </tr>
                  <tr>
                    <td><code>contentinfo</code></li>
                    <td class="text-center">1</td>
                  </tr>
                  <tr>
                    <td><code>main</code></li>
                    <td class="text-center">1</td>
                  </tr>
                  <tr>
                    <td><code>navigation</code></li>
                    <td class="text-center"><span id="nav-count">#</span></td>
                  </tr>
                  <tr>
                    <td><code>region</code></li>
                    <td class="text-center"><span id="region-count">#</span></td>
                  </tr>
                </tbody>
             </table>

             <table class="table striped" class="counts" aria-label="Count of headings on the page">
                <thead>
                  <tr>
                    <th>Headings</th>
                    <th class="text-center">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><code>H1</code></td>
                    <td class="text-center"><span id="h1-count"></span></td>
                  <tr>
                    <td><code>H2</code></td>
                    <td class="text-center"><span id="h2-count"></span></td>
                  </tr>
                  <tr>
                    <td><code>H3</code></td>
                    <td class="text-center"><span id="h3-count"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </aside>

<script>

window.addEventListener('load', () => {

  function countElement(selector) {
    const elems = document.querySelectorAll(`${selector}`);
    return elems.length;
  }

  setTimeout( () => {
    document.querySelector('#nav-count').textContent = countElement('nav, skip-to-content');
    document.querySelector('#region-count').textContent = countElement('section[aria-label], section[aria-labelledby');

    document.querySelector('#h1-count').textContent = countElement('h1');
    document.querySelector('#h2-count').textContent = countElement('h2');
    document.querySelector('#h3-count').textContent = countElement('h3');
   }, 300);


});
</script>
