            <p> A <code>region</code> landmark is a perceivable section containing content that is relevant to a specific, author-specified purpose and sufficiently important that users will likely want to be able to navigate to the section easily and to have it listed in a summary of the page.</p>
            <p> ARIA 1.2 Specification: <a href="https://www.w3.org/TR/wai-aria-1.2/#region"><code>region</code> landmark</a></p>

            <h2>Design Patterns</h2>
            <ul>
              <li>A <code>region</code> landmark must have label using <code>aria-labelledby</code> or <code>aria-label</code>.</li>
              <li>If a page includes more than one <code>region</code> landmark, each should have a unique label.</li>
              <li>The <code>region</code> landmark can be used identify content that named landmarks do not appropriately describe.</li>
            </ul>

            <section aria-label="Coding Techniques">
              <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li class="active"><a id="tab2" href="#tabpanel2" aria-controls="tabpanel2"  role="tab" data-toggle="tab">HTML Techniques</a></li>
                <li><a id="tab1" href="#tabpanel1" aria-controls="tabpanel1" role="tab" data-toggle="tab">ARIA Techniques</a></li>
              </ul>
              <div class = "tab-content">
                <div  id="tabpanel2" aria-labelledby="tab2" role="tabpanel" class="tab-pane active">
                  <p>Use the HTML <code>section</code> element with a label using <code>aria-labelledby</code> or <code>aria-label</code> to define a <code>region</code> landmark.</p>

                  <h3>HTML Example: Using <code>section[aria-labelledby]</code> attribute</h3>
                  <p>Defines a label for each region using existing content on the page.</p>
                  <div class="code">
                    &lt;main&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1&gt;<em>title for main content area</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;section aria-labelledby="region1"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2 <strong>id="region1"</strong>&gt;title for region area 1&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;... <em>content for region area 1</em> ...
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;/section&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;section aria-labelledby="region2"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2 <strong>id="region2"</strong>&gt;title for region area 2&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;... <em>content for region area 2</em> ...
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;/section&gt;</strong>
                    <br>
                    <br>
                    &lt;/main&gt;
                  </div>

                   <h3>HTML Example: Using <code>section[aria-label]</code> attribute</h3>
                  <p>Defines a label for each region using attribute value that is only visible to assistive technologies.</p>
                  <div class="code">
                    &lt;main&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1&gt;<em>title for main content</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;section aria-label="title for region area 1"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2&gt;title for region area 1&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;... <em>content for region area 1</em> ...
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;/section&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;section aria-label="title for region area 2"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2&gt;title for region area 2&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;... <em>content for region area 2</em> ...
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;/section&gt;</strong>
                    <br>
                    <br>
                    &lt;/main&gt;
                  </div>

                  <h3>HTML Example: Using <code>section[title]</code> attribute</h3>
                  <p>Defines a label for each region using attribute value that maybe available as a tooltip on some browsers.</p>
                  <br>
                  <div class="code">
                    &lt;main&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1&gt;<em>title for main content</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;section title="title for region area 1"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2&gt;title for region area 1&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;...content for region area 1...
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;/section&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;section title="title for region area 2"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2&gt;title for region area 2&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;...content for region area 2...
                    <br>
                    <br>
                    &nbsp;&nbsp;<strong>&lt;/section&gt;</strong>
                    <br>
                    <br>
                    &lt;/main&gt;
                  </div>
                </div>
                <div id="tabpanel1" aria-labelledby="tab1" role="tabpanel" class="tab-pane">
                  <p>Use a <code>role="region"</code> attribute with a label using <code>aria-labelledby</code> or <code>aria-label</code> to define a <code>region</code> landmark.</p>

                  <h3>ARIA Example: Using <code>role="region"</code> attribute</h3>
                  <div class="code">
                    &lt;div role="main"&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1&gt;<em>title for main content area</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;&lt;div <strong>role="region" aria-labelledby="region1"</strong>&gt;
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2 <strong>id="region1"</strong>&gt;title for region area 1&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;... <em>content for region area 1</em> ...
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;/div&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;div <strong>role="region" aria-labelledby="region2"</strong>&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;h2 <strong>id="region2"</strong>&gt;title for region area 2&lt;/h2&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;... <em>content for region area 2</em> ...
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;/div&gt;
                    <br>
                    <br>
                    &lt;/div&gt;
                  </div>
                </div>
              </div>
            </section>
