            <p> A <code>main</code> landmark identifies the primary content of the page. </p>
            <p> ARIA 1.2 Specification: <a href="https://www.w3.org/TR/wai-aria-1.2/#main"><code>main</code> landmark</a> </p>
            <h2>Design Patterns</h2>
            <ul>
              <li>Each page should have one <code>main</code> landmark.</li>
              <li>The <code>main</code> landmark should be a top-level landmark.</li>
              <li>When a page contains nested <code>document</code> and/or <code>application</code> roles (e.g. typically through the use of <code>iframe</code> and <code>frame</code> elements),
                each <code>document</code> or <code>application</code> role may have one <code>main</code> landmark.
              </li>
              <li>If a page includes more than one <code>main</code> landmark, each should have a unique label.</li>
            </ul>
            <section aria-label="Coding Techniques">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="none">
                  <a class="nav-link" id="tab2" href="#tabpanel2" aria-controls="tabpanel2" role="tab">
                    HTML Techniques
                  </a>
                </li>
                <li class="nav-item" role="none">
                  <a class="nav-link" id="tab1" href="#tabpanel1" aria-controls="tabpanel1" role="tab">
                    ARIA Techniques
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="tabpanel2" aria-labelledby="tab2" role="tabpanel" class="tab-pane active">

                  <p>Use the HTML <code>main</code> element to define a <code>main</code> landmark.</p>

                  <h3>HTML Example: One Main Landmark</h3>

                  <p>When only one main landmark on a page, a label is optional.</p>

                  <div class="code">
                    <code>
                    <strong>&lt;main&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1&gt;<em>title for main content</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;.<em>... main content area  ...</em>.   <br>
                    <br>
                    <strong>&lt;/main&gt;</strong>
                    </code>
                  </div>

                  <h3>HTML Example: Multiple Main Landmarks</h3>

                  <p>When there is more than one main landmark on a page, each should have a unique label.</p>

                  <div class="code">
                    <code>
                    <strong>&lt;main  aria-labelledby="<em>title1</em>"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1 <strong>id="<em>title1</em>"</strong>&gt;<em>title for main content area 1</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;.<em>... main content area 1 ...</em>.<br>
                    <br>
                    <strong>&lt;/main&gt;</strong>
                    <br>
                    <br>
                    ....<br>
                    <br>
                    <strong>&lt;main  aria-labelledby="<em>title2</em>"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1 <strong>id="<em>title2</em>"</strong>&gt;<em>title for main content area 2</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;.<em>... main content area 2 ...</em>.<br>
                    <br>
                    <strong>&lt;/main&gt;</strong>
                    <br>
                    <br>
                    </code>
                  </div>
                </div>
                <div id="tabpanel1" aria-labelledby="tab1" role="tabpanel" class="tab-pane">
                  <p>A <code>role="main"</code> attribute is used to define a <code>main</code> landmark.</p>

                  <h3>ARIA Example: One Main Landmark</h3>

                  <p>When only one main landmark exists on a page, a label is optional.</p>

                  <div class="code">
                    <code>
                    &lt;div <strong>role="main"&gt;</strong>
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1&gt;<em>title for main content</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;.<em>... main content area ...</em>.   <br>
                    <br>
                    &lt;/div&gt;
                    </code>
                  </div>

                  <h3>ARIA Example: Multiple Main Landmarks</h3>

                  <p>When there is more than one main landmark on a page, each should have a unique label.</p>

                  <div class="code">
                    <code>
                    &lt;div <strong>role="main"  aria-labelledby="<em>title1</em>"</strong>&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1 <strong>id="<em>title1</em>"</strong>&gt;<em>title for main content area 1</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;.<em>... main content area 1 ...</em>.<br>
                    <br>
                    &lt;/div&gt;
                    <br>
                    <br>
                    ....<br>
                    <br>
                    &lt;div <strong>role="main"  aria-labelledby="<em>title2</em>"</strong>&gt;
                    <br>
                    <br>
                    &nbsp;&nbsp;&lt;h1 <strong>id="<em>title2</em>"</strong>&gt;<em>title for main content area 2</em>&lt;h1&gt;<br>
                    <br>
                    &nbsp;&nbsp;.<em>... main content area 2 ...</em>.<br>
                    <br>
                    &lt;/div&gt;
                    <br>
                    <br>
                    </code>
                  </div>
                </div>
              </div>
            </section>
