
     <h2>Contributors</h2>
     <ul>
        <li>Jon Gunderson, <a href="https://openweba11y.com">Open Web Accessibility Services</a></li>
        <li>Members of the <a href="https://www.w3.org/WAI/about/groups/task-forces/practices/minutes/topics/">ARIA Authoring Practices Task Force</a> who created the orginal ARIA Landmark Region example</li>
     </ul>

     <h2 id="privacy">Privacy</h2>

     <p>This website does not use cookies or and other means to track users or share information.</p>

     <h2 id="feedback">Feedback</h2>
     <p>If you and idea on how to improve {{projectName}} or find a problem please let us know by creating an <a href="{{issuesURL}}">issue in the GitHib repository for {{projectName}}</a>. Please provide the following information:</p>

     <h3>Github Issue (Preferred)</h3>

     <ol>
        <li><a href="{{issuesURL}}">Create {{projectName}} Github Issue</a></li>
        <li>If an issue or problem, include a URL to were the issue can be replicated.</li>
        <li>Include a short description of the issue or idea.</li>
        <li>How we can contact you for more information and verification the issue is resolved.</li>
     </ol>

     <p>Note: Github issues are <em>preferred</em> since it provides a public record of the issue and allows other people to comment.  The public record means the issue will remain until resolved, where as e-mails can sometimes missed.</p>

     <h3>E-mail</h3>

     <p>Send an e-mail to <a href="mailto:{{issuesEmail}}">Jon Gunderson</a> ({{issuesEmail}}) and include "{{projectName}}" in the subject line and the following information in the body if it is problem:</p>

     <ol>
        <li>If an issue or problem, include a URL to were the issue can be replicated.</li>
        <li>Include a short description of the issue or idea.</li>
        <li>How we can contact you for more information and verification the issue is resolved.</li>
     </ol>


