      <h2>Purpose</h2>
      <p>The <a href="https://www.w3.org/WAI/about/groups/task-forces/practices/">ARIA Authoring Practices Task Force</a> is retiring the landmark example website since it does not follow the example template used for the interactive ARIA roles.  The maintenance and quality control issues of essentially supporting a separate website is beyond the resources and the mission of the <a href="https://www.w3.org/WAI/ARIA/apg/">ARIA Authoring Practices</a>.  This resource is an attempt to preserve and update the original landmark example website for people who find the resource instructive and useful.  This educational resource will consider contributions from anyone wanting to improve the understanding of landmark regions. </p>

     <h2 id="disclaimer">Disclaimer</h2>

     <p>While this resource is based on the original ARIA Authoring Practices Landmark Example and Landmark Patterns, it is not affiliated with the <a href="https://www.w3.org">W3C</a> or the <a href="https://www.w3.org/WAI/">W3C Web Accessibility Initiative</a>. No information on this website has been endorsed or approved by the <a href="https://www.w3.org/WAI/about/groups/task-forces/practices/">ARIA Authoring Practices Task Force</a> or any other entity of the W3C.  The information on this website is solely the responsibility of the contributors and is designed to be an educational resource for people to learn about landmark regions.</p>

     <h2 id="contributors">Contributors</h2>
     <ul>
        <li>Jon Gunderson, <a href="https://openweba11y.com">Open Web Accessibility Services</a></li>
        <li>The members of the <a href="https://www.w3.org/WAI/about/groups/task-forces/practices/minutes/topics/">ARIA Authoring Practices Task Force</a> who created the original ARIA Landmark Region example.</li>
     </ul>

     <h2 id="privacy">Privacy</h2>

     <p>This website does not use cookies or and other means to track users or share information.</p>

     <h2 id="feedback">Contributing</h2>
     <p>If you and idea on how to improve {{projectName}} or find a problem please let us know by creating an <a href="{{issuesURL}}">issue in the GitHib repository for {{projectName}}</a>. Please provide the following information:</p>

     <h3>Github Issue (Preferred)</h3>

     <ol>
        <li><a href="{{issuesURL}}">Create Github Issue</a></li>
        <li>If an issue or problem, include a URL to were the issue can be replicated.</li>
        <li>Include a short description of the issue or idea.</li>
        <li>How we can contact you for more information and verification the issue is resolved.</li>
     </ol>

     <p>Note: Github issues are <em>preferred</em> since it provides a public record of the issue and allows other people to comment.  The public record means the issue will remain until resolved, where as e-mails can sometimes missed.</p>

     <h3>E-mail</h3>

     <p>Send an e-mail to <a href="mailto:{{issuesEmail}}">Jon Gunderson</a> ({{issuesEmail}}) and include "{{projectName}}" in the subject line and the following information in the body if it is problem:</p>

     <ol>
        <li>If an issue or problem, include a URL to were the issue can be replicated.</li>
        <li>Include a short description of the issue or idea.</li>
        <li>How we can contact you for more information and verification the issue is resolved.</li>
     </ol>


