            <p>It is important to understand that many HTML sectioning (e.g. <code>main</code>, <code>nav</code>, <code>aside</code> ...) elements by default define ARIA landmarks.
              If HTML sectioning elements are used without understanding the associated landmark structure, assistive technology users will most likely be confused and less efficient in accessing content and interacting with web pages.
            </p>
            <table class="table table-striped table-hover" aria-label="Default landmark roles for HTML sectioning elements">
              <thead>
                <tr>
                  <th>Element</th>
                  <th>Landmark Role</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>aside</code></td>
                  <td>

                    {% include "./landmark-aside.njk" %}

                  </td>
                </tr>
                <tr>
                  <td><code>footer</code></td>
                  <td>

                    {% include "./landmark-footer.njk" %}

                  </td>
                </tr>
                <tr>
                  <td><code>form</code></td>
                  <td>

                    {% include "./landmark-form.njk" %}

                  </td>
                </tr>
                <tr>
                  <td><code>header</code></td>
                  <td>

                    {% include "./landmark-header.njk" %}

                  </td>
                </tr>
                <tr>
                  <td><code>main</code></td>
                  <td>

                    {% include "./landmark-main.njk" %}

                  </td>
                </tr>
                <tr>
                  <td><code>nav</code></td>
                  <td>

                    {% include "./landmark-nav.njk" %}

                </tr>
                <tr>
                  <td><code>search</code></td>
                  <td>

                    {% include "./landmark-search.njk" %}

                </tr>
                <tr>
                  <td><code>section</code></td>
                  <td>

                    {% include "./landmark-section.njk" %}

                </tr>
              </tbody>
            </table>




