            <p> A <code>contentinfo</code> landmark is a way to identify common information at the bottom of each page within a website, typically called the "footer" of the page, including information such as copyrights and links to privacy and accessibility statements. </p>
             <p> ARIA 1.2 Specification: <a href="https://www.w3.org/TR/wai-aria-1.2/#contentinfo"><code>contentinfo</code> landmark</a>.</p>
            <h2>Design Patterns</h2>
            <ul>
              <li>Each page may have one <code>contentinfo</code> landmark.</li>
              <li>The <code>contentinfo</code> landmark should be a top-level landmark.</li>
              <li>When a page contains nested <code>document</code> and/or <code>application</code> roles (e.g. typically through the use of <code>iframe</code> and <code>frame</code> elements),
                each <code>document</code> or <code>application</code> role may have one <code>contentinfo</code> landmark.
              </li>
              <li>If a page includes more than one <code>contentinfo</code> landmark, each should have a unique label.</li>
            </ul>
            <section aria-label="Coding Techniques">
              <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="none">
                  <a class="nav-link" id="tab2" href="#tabpanel2" aria-controls="tabpanel2"  role="tab">
                    HTML Techniques
                  </a>
                </li>
                <li class="nav-item" role="none">
                  <a class="nav-link" id="tab1" href="#tabpanel1" aria-controls="tabpanel1" role="tab">
                    ARIA Techniques
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="tabpanel2" aria-labelledby="tab2" role="tabpanel" class="tab-pane">
                  <ul>
                    <li>The HTML <code>footer</code> element defines a <code>contentinfo</code> landmark when its context is the <code>body</code> element.</li>
                    <li>
                      The HTML <code>footer</code> element is not considered a <code>contentinfo</code> landmark when it is descendant of any of following elements:
                      <ul>
                        <li><code>article</code></li>
                        <li><code>aside</code></li>
                        <li><code>main</code></li>
                        <li><code>nav</code></li>
                        <li><code>section</code></li>
                      </ul>
                    </li>
                  </ul>
                  <h3>HTML Example</h3>
                    <div class="code">
                      <code>
                            <strong>&lt;footer&gt;</strong>
                    <br>
                    <br>
                            &nbsp;&nbsp;&lt;h2&gt;<em>Contact, Policies and Legal</em>&lt;h2&gt;<br>
                    <br>
                            &nbsp;&nbsp;<em>.... contentinfo area content ....   </em><br>
                    <br>
                            <strong>&lt;/footer&gt;</strong>
                        </code>
                    </div>
                </div>
                <div id="tabpanel1" aria-labelledby="tab1" role="tabpanel" class="tab-pane">
                  <p>A <code>role="contentinfo"</code> attribute is used to define a <code>contentinfo</code> landmark.</p>
                  <h3>ARIA Example</h3>
                    <div class="code">
                      <code>
                            &lt;div <strong>role="contentinfo"</strong>&gt;<br>
                            <br>
                            &nbsp;&nbsp;&lt;h2&gt;<em>Contact, Policies and Legal</em>&lt;h2&gt;<br>
                            <br>
                            &nbsp;&nbsp;<em>.... contentinfo area content ....</em>  <br>
                            <br>
                            &lt;/div&gt;<br>
                      </code>
                    </div>
                </div>
              </div>
            </section>
