        <header>
          <!-- Navigation-->
          <nav class="navbar
               navbar-expand-lg"
               aria-label="Primary"
               id="mainNav">
              <div class="container px-4">
                <span class="brand">
                    <svg role="image"
                         aria-label="Icon"
                         viewBox="0 0 110 55" xmlns="http://www.w3.org/2000/svg">
                      <g class="brand">
                        <g class="aria">
                          <rect x="0" y="5" width="26" height="52"></rect>
                          <text x="-49" y="18" transform="rotate(-90)">ARIA</text>
                        </g>
                        <g class="landmark">
                          <rect x="25" y="5" width="100" height="25"></rect>
                          <text x="28" y="24">Landmark</text>
                        </g>
                        <g class="regions">
                          <rect x="25" y="30" width="100" height="27"></rect>
                          <text x="28" y="50">Regions</text>
                        </g>
                      </g>
                    </svg>
                </span>
                  </span>

                  <button class="navbar-toggler"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#mainNavbar"
                          aria-controls="mainNavbar"
                          aria-expanded="false"
                          aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ms-auto">

                    {{ navigation | safe }}

                    </ul>
                  </div>
              </div>
          </nav>
          <div class="tagline">
            <div id="main-section" class="container">
              <div class="row gx-4 justify-content-left">
                <div class="col-lg-12">
                  <div class="container" style="position: relative; left: -8px">
                    {{tagLineName}}
                  </div>
                </div>
              </div>
            </div>
          </div>
       </header>


