                  The <code>footer</code> element is a <code>contentinfo</code> landmark when it is <em>not</em> in the context (e.g a descendant) of any of the following HTML sectioning elements:
                    <ul>
                      <li><code>article</code></li>
                      <li><code>aside</code></li>
                      <li><code>main</code></li>
                      <li><code>nav</code></li>
                      <li><code>section</code></li>
                    </ul>
