                    <ol>
                      <li>
                        The <code>aside</code> element <em>without a label</em> is a <code>complementary</code> landmark when not in the context (e.g a descendant) of any of the following HTML sectioning elements:
                        <ul>
                          <li><code>article</code></li>
                          <li><code>aside</code></li>
                          <li><code>main</code></li>
                          <li><code>nav</code></li>
                          <li><code>section</code></li>
                        </ul>
                      </li>
                      <li>
                        The <code>aside</code> element <em>with a <a href="index.html#aria_lh_step3">label</a></em> is a <code>contentinfo</code> landmark in any context.
                      </li>
                    </ol>
