<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container">

    {% if dropdownPages %}
      <div class="row gx-4 justify-content-left">
        <div class="col-lg-12">

                <nav class="second-level" aria-label="{{dropdownName}}">
                  {% for page in dropdownPages %}
                    {% if loop.first %}
                    <a href="{{page.filename}}">{{page.link}}</a>
                    {% else %}
                      {% if page.filename %}
                       | <a href="{{page.filename}}">{{page.link}}</a>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </nav>
        </div>
      </div>
    {% endif %}

      <div class="row gx-4 justify-content-left">
        <div class="col-lg-9">
          <main class="container">

            {% block content %}


                <h1>{{title}}</h1>

                {% include './' + content %}

            {% endblock %}
          </main>
        </div>
        <div class="col-lg-3">
            {% include "./aside-visualize.njk" %}
            {% include "./aside-standards.njk" %}
        </div>
      </div>
    </div>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
